<html>

<body>

<h1><%= @movie.title %></h1>
<img src="https://imgc.allpostersimages.com/img/print/u-g-F98SQ20.jpg?w=550&h=550&p=0" alt=""><br>

<p><%= @movie.plot %></p>
<h3><%= @movie.year %></h3cd ht>
<h2><%= @movie.director %></h2>

</body>

</html>